<div class="article-view">
   <div class="article-title">
       <div class="article-title-subtitle">
           <span>django</span>
       </div>
       <div class="artucle-title-subtitle-arrow"></div>
       <a class="article-title-title" href="">
           <h2>Smoke材质的二三事</h2>
       </a>
    </div>
    <div class="article-tag">
       <div class="article-tag-data">
           <span class="label glyphicon glyphicon-calendar">2018-04-19 15:13</span>
           <span class="label glyphicon glyphicon glyphicon-comment">2025</span>
           <span class="label glyphicon glyphicon-eye-open">1254</span>
       </div>
       <div class="article-tag-tag">
           <span class="label label-default">Default</span>
           <span class="label label-primary">Primary</span>
           <span class="label label-success">Success</span>
           <span class="label label-info">Info</span>
           <span class="label label-warning">Warning</span>
           <span class="label label-danger">Danger</span>
       </div>
   </div>
    <div class="article-abstract">
        <a href="">
            <img src="../../static/img/article/title/article-title.png" width="300px" height="150px">
        </a>
        <div>
            <a href="">
                <p>
                    更新日志 2015/5/15 从django1.6 升级到 django1.8 (git中还保留django1.6 分支)
                    概述 vmaig_blog 是一个基于 Django1.8 跟 Bootstrap3 开发的 博客系统 ，实现了一个博客完整的功能。
                    http://vmaig.com 就是基于vmaig_blog 搭建的。 实现功能 1. 文章,分类,专栏的添加，删除，修改。支持tin ...
                </p>
            </a>
        </div>
    </div>
   <div class="article-line"></div>
</div>