<div class="fh-author-view">
    <div class="fh-author-tag-view">
        <hr>
        <a href="tag">FEATURED TAGS</a>

        <div class="row fh-author-tag">
            {% for tag in tags %}
                <a href="tag/{{ tag.tag_id }}" class="btn btn-default btn-sm">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="fh-author-me-view">
        <a href="about">ABOUT ME</a>
        <div class="fh-author-me-head">
            <img src="{{ author.head }}" alt="" width="162" height="150">
        </div>
        <div class="fh-author-me-info">
            <p>
                {{ author.introduction }}
            </p>
        </div>
    </div>
</div>