<nav class="navbar navbar-fixed-top fh-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed fh-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar fh-icon-bar"></span>
                <span class="icon-bar fh-icon-bar"></span>
                <span class="icon-bar fh-icon-bar"></span>
            </button>
            <div class="fh-navbar-brand">
                <a href="" class="fh-navbar-logo">FAST HRO</a>
                <img src="../static/img/blog-logo.png" alt="" class="fh-navbar-logo-icon" height="24px">
            </div>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav navbar-right fh-navbar-nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">TAG</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
         </div>
    </div>
</nav>