<div class="top-banner">
    <div class="logo">
        <a>FAST HRO <img src="../static/img/blog-logo.png" width="50px"></a>
    </div>
    <div class="menu-nav">
        <ul class="menu-list">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#">TAG</a>
            </li>
            <li>
                <a href="#">ABOUT</a>
            </li>
        </ul>
    </div>
    <div class="drop-down menu-nav">
       <a class="btn-lg glyphicon glyphicon-menu-hamburger" href="#"></a>
    </div>
     <div class="drop-menu">
        <ul class="drop-menu-list">
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="#">TAG</a>
            </li>
            <li>
                <a href="#">ABOUT</a>
            </li>
        </ul>
    </div>
</div>