<div class="fh-article-view clearfix">
   <div class="fh-article-title-view">
       <div class="fh-article-subtitle-view pull-left visible-lg visible-md visible-sm">
            <div class="fh-article-subtitle">
               <span>{{ article.type.name }}</span>
           </div>
           <div class="fh-artucle-subtitle-arrow"></div>
       </div>
       <a class="fh-article-title h2" href="/article/{{ article.id }}">{{ article.title }}</a>
    </div>
    <div class="row fh-article-tag-view">
       <div class="fh-article-data-view pull-left">
           <span class="label glyphicon glyphicon-calendar">
               <spqn class="fh-article-data">{{ article.create_time | date:"Y-m-d" }}</spqn>
           </span>
           <span class="label glyphicon glyphicon glyphicon-comment">
               <span class="fh-article-data">{{ article.comments_num }}</span>
           </span>
           <span class="label glyphicon glyphicon-eye-open">
               <span class="fh-article-data">{{ article.browse_num }}</span>
           </span>
       </div>
       <div class="fh-article-tag pull-right visible-lg visible-md visible-sm">
           {% for tag in article.tags.all %}
               <span class="label {{ tag.tag_label_style }}">{{ tag.name }}</span>
           {% endfor %}
       </div>
   </div>
    <hr>
    <div class="row fh-article-abstract-view">
        <div class="fh-article-img col-lg-4 col-md-4 col-sm-4">
            <div class="thumbnail">
                <a href="/article/{{ article.id }}">
                    <img src={{ article.img }}>
                </a>
            </div>
        </div>
        <div class="fh-article-abstract col-lg-8 col-md-8 col-sm-8">
            <a href="/article/{{ article.id }}">
                <p>
                    {{ article.abstract }}
                </p>
            </a>
        </div>
    </div>
   `<hr>
</div>