{% load static %}

<div class="mz-item-view">
    <div class="mz-kong"></div>
    <a href="/article/{{ article.id }}">
        <div class="mz-item-wrap">
            <div class="mz-item-icon-wrap">
                <img class="mz-item-icon" src="{{ article.img }}">
            </div>
            <div class="mz-item-content">
                <div class="mz-item-title">
                    <b>{{ article.title }}</b>
                </div>
                <div class="mz-item-content-kong"></div>
                <div class="mz-item-subtitle">
                    <p>{{ article.abstract }}</p>
                </div>
            </div>
            <div class="mz-item-time">
                <p>{{ article.create_time | date:"Y-m-d" }}</p>
            </div>
        </div>
    </a>
</div>