<nav class="navbar navbar-fixed-top fh-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed fh-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar fh-icon-bar"></span>
                <span class="icon-bar fh-icon-bar"></span>
                <span class="icon-bar fh-icon-bar"></span>
            </button>
            <div class="fh-navbar-brand">
                <a href="{% url 'blog:home' %}" class="fh-navbar-logo"><strong>FAST HRO</strong></a>
                <img src="../../../static/img/blog-logo.png" alt="" class="fh-navbar-logo-icon" height="24px">
            </div>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav navbar-right fh-navbar-nav">
                <li class="fh-nav-btn"><a href="{% url 'blog:home' %}"><strong>HOME</strong></a></li>
                <li class="fh-nav-btn"><a href="/tags/{{ nav_tag.tag_id }}"><strong>TAGS</strong></a></li>
                <li class="fh-nav-btn"><a href="about"><strong>ABOUT</strong></a></li>
                <li class="fh-nav-btn" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu fh-dropdown-menu">
                        <li class="fh-nav-dropdown-menu-btn"><a href="{% url 'user:signin' %}">Sign In</a></li>
                        <li class="fh-nav-dropdown-menu-btn"><a href="{% url 'user:signup' %}">Sign Up</a></li>
                    </ul>
                </li>
            </ul>
         </div>
    </div>
</nav>