{% extends "base.html" %}

{% block jumbotron %}
     <div class="jumbotron fh-jumbotron">
         <div class="fh-jumbotron-img"></div>
        <div class="fh-jumbotron-mask"></div>
     </div>
{% endblock %}

{% block main %}

    <div class="main-article">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-sm-12">
                {% for article in object_list %}
                    {% include "article.html" %}
                {% endfor %}
            </div>
            <div class="col-lg-1 col-md-1 visible-sm visible-lg visible-md"></div>
            <div class="col-lg-3 col-md-3 visible-sm visible-lg visible-md">
                {% include "author.html" %}
            </div>
        </div>
    </div>
{% endblock %}