html{
    height: 100%;
}

body{
    background-color: white;
    height: 100%;
}

.fh-main{
    padding: 0;
    padding-bottom: 80px;
    min-height: 100%;
}

/** nav */
.fh-navbar
{
    background-color: #343a40!important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 0;
}

.fh-navbar-brand a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
}

.fh-navbar-brand {
    width: 155px;
    display: block;
    border-bottom: .25rem solid transparent;
    transition: all 0.2s;
}

.fh-navbar-brand:hover{
    border-bottom-color: white;
}

.fh-navbar-nav li{
    list-style-type: none;
    margin-right: 20px;
    border-bottom: .25rem solid transparent;
    transition: all 0.2s;
}

.fh-navbar-nav li:hover{
    border-bottom-color: white;
}

.fh-nav-btn {
    line-height: 50px;
}

.fh-nav-btn a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.fh-navbar-toggle{
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: .25rem;
    color: rgba(255,255,255,.5);
}

.fh-dropdown-menu{
    background-color: #343a40!important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 0;
}

.fh-nav-dropdown-menu-btn{
    line-height: 50px;
    margin-left: 20px;
}

.fh-dropdown-menu li>a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-align: left;
}

.fh-dropdown-menu li>a:hover{
    background-color: transparent;
    color: white;
}

.fh-dropdown-menu li:hover{
    border-bottom-color: white;
}

.fh-icon-bar{
   background: rgba(255,255,255,.5);
}

/** jumbotron  */
.fh-jumbotron{
    margin: 0;
    padding: 0;
}

.fh-jumbotron-img{
    background: url(../img/home_banner.jpg) center;
    min-height: 350px;
    height: 350px;
}

.fh-jumbotron-mask{
    margin-top: -350px;
    width: 100%;
    min-height: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
}

/** footer */
.main-footer{
    background-color: #343a40!important;
    border-top: 1px solid rgba(230,230,230,0.75);
    width: 100%;
    min-height: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    position: relative;
    bottom: 0;
}

.main-footer span{
    color: #6c757d!important;
}

/** 主页文章 */

.main-article{
    margin-top: 30px;
}

.fh-article-view{
    margin-bottom: 20px;
}

.fh-article-view hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

/** article title */
.fh-article-subtitle{
    display: inline-block;
    background-color: #D94600;
    border: 1px solid #D94600;
    border-radius: 4px;
}

.fh-article-subtitle span{
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    line-height: 31px;
}

.fh-artucle-subtitle-arrow{
    display: inline-block;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-image: none;
    border-color: transparent transparent transparent #D94600;
    margin-left: -4px;
}

.fh-article-title-view a{
    color: #343434;
    text-decoration: none;
}

.fh-article-title-view a:hover{
    color: #0085a1;
}

/** article tag */
.fh-article-tag-view{
    margin: 15px 25px 0 0;
}

.fh-article-data-view span{
    color: #6c757d!important;
}

/** article abs */
.fh-article-abstract{
    margin: 0;
    padding: 0;
}

.fh-article-abstract a{
    text-decoration: none;
}
.fh-article-abstract a>p:hover{
    color: #0085a1;
}

.fh-article-abstract a>p{
    color: #6b6b6b;
}

/** 作者 */
.fh-author-view{
    width: 80%;
}
.fh-author-tag-view a{
    color: gray;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.fh-author-tag-view a:hover{
    color: #0085a1;
}

.fh-author-tag{
    margin-top: 20px;
    margin-left: 0px;
}

.fh-author-tag a{
    font-size: 12px;
    border-radius: 999em;
    color: rgba(180,180,180,0.8);
    font-weight: normal;
    margin-top: 3px;
    border:1px solid rgba(180,180,180,0.8);
}

.fh-author-tag a:hover{
    color: #0085a1;
    border-color: #0085a1;
    background: transparent;
}

.fh-author-me-view a{
    color: gray;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.fh-author-me-view a:hover{
    color: #0085a1;
}

.fh-author-me-head{
    margin-top: 10px;
}

.fh-author-me-info p{
    margin-top: 10px;
    color: #bfbfbf;
}

.fh-authon-line{
    margin-top: 10px;
}

.fh-authon-line ul>li>a{
    color: yellow;
}

/** tags view */
.fh-tags-view{
    margin: 30px -15px;
    background-color: #fff;
    -moz-box-shadow: 0 1px 4px #ccc;
    -webkit-box-shadow: 0 1px 4px #ccc;
    box-shadow: 0 1px 4px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px 0px;
}

.fh-tags-view a{
    margin: 5px;
    font-size: 18px;
    border-radius: 999em;
    color: white;
    font-weight: normal;
    border:transparent;
}

.fh-tags-view a:hover{
    color: white;
}

/** article */
.article-jumbotron-img{
    background: url(../img/article/article-jumbotron-default.jpg) center;
    min-height: 350px;
    height: 350px;
}

.article-jumbotron-content{
    position: relative;
    top: 50%;
    transform: translateY(-30%);
    color: white;
}

.article-jumbotron-content h1{
    font-weight: 700;
}

.btn-type-default{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 18px;
}

.btn-type-default:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
}

.btn-tag-default{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 18px;
}

.btn-tag-default:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-decoration: none;
}

/** login */
.fh-login-wrap{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/***/
@media (max-width: 768px) {
    /** 导航栏标志 */
  .fh-navbar-brand {
    margin-left: 15px;
  }

  .fh-article-abstract{
      padding-left: 15px;
      padding-right: 15px;
  }

  .fh-article-tag-view{
      margin: 15px 0 0 0;
  }
}

.mb-1{
    margin-bottom: 1rem!important;
}

.mb-2{
    margin-bottom: 2rem!important;
}

.mb-3{
    margin-bottom: 3rem!important;
}

.mb-4{
    margin-bottom: 3rem!important;
}

.mb-5{
    margin-bottom: 3rem!important;
}

.mt-1{
    margin-top: 1rem!important;
}

.mt-2{
    margin-top: 2rem!important;
}

.mt-3{
    margin-top: 3rem!important;
}

.mt-4{
    margin-top: 3rem!important;
}

.mt-5{
    margin-top: 3rem!important;
}