html{
    height: 100%;
}

body{
    background-color: white;
    color: white;
    height: 100%;
}

.top-banner {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    z-index: 1000;
    background-color: #212121;
}

.logo {
    width: 165px;
    display: block;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
    position: relative;
    left: 18px;
}

.logo:hover{
    border-bottom-color: yellow;
}

.logo a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 60px;
    text-decoration: none;
}

.logo img{
    display: inline-block;
}

/**  */
.menu-nav{
    display: none;
    height: 60px;
    position: absolute;
    top: 0;
    right: 18px;
    text-align:center
}

@media (min-width: 768px) {
  .menu-nav {
    display: inline-block;
  }
}

.menu-nav ul{
    list-style-type: none;
}

.menu-list li{
    float: left;
    margin-left: 25px;
}

.menu-list li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    line-height: 60px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}

.menu-list li:hover{
    border-bottom: 1px solid yellow;
}
/**  */
.drop-down {
    height: 60px;
    display: block;
    text-align: center;
    position: absolute;
    right: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}

.drop-down a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
}

@media (min-width: 768px) {
  .drop-down {
    display: none;
  }
}

.drop-down:hover{
    border-bottom: 1px solid yellow;
}

.drop-menu{
    position: absolute;
    top:60px;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
    display: none;
}

.drop-menu-list {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    list-style-type: none;
    text-align: center;
}

.drop-menu-list li{
    padding: 8px;
}

.drop-menu-list li>a{
    color: #393D4f;
    font-size: 18px;
    font-weight: 400;
}

/**  */
.main {
    position: relative;
    top: 60px;
    min-height: 100%;
}

/** */
.col-md-12{
    padding: 0;
    margin: 0;
}

.home-banner{
    background: url(../img/home-bg.jpg) center;
    min-height: 350px;
}

/** */

.main-footer{
    background-color: #212121;
    border-top: 1px solid rgba(230,230,230,0.75);
    width: 100%;
    min-height: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    position: relative;
    bottom: 0px;
}

.main-footer span{
    color: #959595;
}