html{
    height: 100%;
}

body{
    background-color: white;
    color: white;
    height: 100%;
}

/** nav */
.fh-navbar
{
    background-color: #343a40!important;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 0;
}

.fh-navbar-brand a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
}

.fh-navbar-brand {
    width: 155px;
    display: block;
    border-bottom: .25rem solid transparent;
    transition: all 0.2s;
}

.fh-navbar-brand:hover{
    border-bottom-color: white;
}

.fh-navbar-nav li{
    list-style-type: none;
    margin-right: 20px;
    border-bottom: .25rem solid transparent;
    transition: all 0.2s;
}

.fh-navbar-nav li:hover{
    border-bottom-color: white;
}

.fh-navbar-nav li>a{
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
}

.fh-navbar-toggle{
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: .25rem;
    color: rgba(255,255,255,.5);
}

.fh-icon-bar{
   background: rgba(255,255,255,.5);
}

/** jumbotron  */
.fh-jumbotron{
    margin: 0;
    padding: 0;
}

.fh-jumbotron-img{
    background: url(../img/home_banner.jpg) center;
    min-height: 350px;
    height: 350px;
}

.fh-jumbotron-mask{
    margin-top: -350px;
    width: 100%;
    min-height: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
}

/** footer */
.main-footer{
    background-color: #343a40!important;
    border-top: 1px solid rgba(230,230,230,0.75);
    width: 100%;
    min-height: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    position: relative;
    bottom: 0px;
    margin-top: 100px;
}

.main-footer span{
    color: #6c757d!important;
}

/** 主页文章 */

.main-article{
    margin-top: 30px;
}

.fh-article-view{
    margin-bottom: 20px;
}

.fh-article-view hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

/** article title */
.fh-article-subtitle{
    display: inline-block;
    background-color: #D94600;
    border: 1px solid #D94600;
    border-radius: 4px;
}

.fh-article-subtitle span{
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    line-height: 31px;
}

.fh-artucle-subtitle-arrow{
    display: inline-block;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-image: none;
    border-color: transparent transparent transparent #D94600;
    margin-left: -4px;
}

.fh-article-title-view a{
    color: #343434;
    text-decoration: none;
}

.fh-article-title-view a:hover{
    color: #0085a1;
}

/** article tag */
.fh-article-tag-view{
    margin: 15px 25px 0 0;
}

.fh-article-data-view span{
    color: #6c757d!important;
}

/** article abs */
.fh-article-abstract{
    margin: 0;
    padding: 0;
}

.fh-article-abstract a{
    text-decoration: none;
}
.fh-article-abstract a>p:hover{
    color: #0085a1;
}

.fh-article-abstract a>p{
    color: #6b6b6b;
}

/** 作者 */
.fh-author-view{
    width: 80%;
}
.fh-author-tag-view a{
    color: gray;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.fh-author-tag-view a:hover{
    color: #0085a1;
}

.fh-author-tag{
    margin-top: 20px;
    margin-left: 0px;
}

.fh-author-tag a{
    font-size: 12px;
    border-radius: 999em;
    color: rgba(180,180,180,0.8);
    font-weight: normal;
    margin-top: 3px;
    border:1px solid rgba(180,180,180,0.8);
}

.fh-author-tag a:hover{
    color: #0085a1;
    border-color: #0085a1;
    background: transparent;
}

.fh-author-me-view a{
    color: gray;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.fh-author-me-view a:hover{
    color: #0085a1;
}

.fh-author-me-head{
    margin-top: 10px;
}

.fh-author-me-info p{
    margin-top: 10px;
    color: #bfbfbf;
}

.fh-authon-line{
    margin-top: 10px;
}

.fh-authon-line ul>li>a{
    color: yellow;
}

/***/
@media (max-width: 768px) {
    /** 导航栏标志 */
  .fh-navbar-brand {
    margin-left: 15px;
  }

  .fh-article-abstract{
      padding-left: 15px;
      padding-right: 15px;
  }

  .fh-article-tag-view{
      margin: 15px 0 0 0;
  }
}